<section class="card mt-5">
    <div class="card-header d-flex justify-content-between">
        <h1>Cronofy Rails Demo</h1>
        <div class="pt-2">
            <%= link_to "Connect a calendar", '#', class: "btn btn-primary" %>
        </div>
    </div>

    <div class="card-body">
    </div>

</section>
