<section class="card mt-5">
    <div class="card-header d-flex justify-content-between">
        <h1>Event Created</h1>
        <div class="pt-2">
            <%= link_to 'Back to calendars', root_path, class: 'btn btn-primary' %>
        </div>
    </div>

    <div class="card-body">
        <p>Event details:</p>
        <p><strong>Date:</strong> <%= @event_data[:start].strftime("%d %b %Y")%></p>
        <p><strong>Time:</strong> <%= @event_data[:start].strftime("%H:%M")%> - <%= @event_data[:end].strftime("%H:%M")%></p>
    </div>

</section>
